.product {
  padding: 20px;
}

.product-heading {
  text-align: center;
  margin-bottom: 30px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Add media queries for responsive styles */
@media screen and (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }
}

/* Adjust the first three items on the first horizontal line */
.product-cart:nth-child(-n + 3) {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

/* Adjust the rest of the items on the second, third, and so on */
.product-cart:nth-child(n + 4) {
  width: calc(25% - 10px);
  margin-bottom: 20px;
}

/* Add some spacing between each item */
.product-cart {
  margin-right: 10px;
  margin-left: 10px;
}

/* .product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-left: 1em;
  margin-top: 2rem;
} */

/* .product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  margin-top: 2rem;
}

.product-cart {
  margin-left: 1rem;
}

.product-cart:nth-child(3n) {
  margin-right: 0;
} */

/* @media screen and (min-width: 480px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 0.2rem;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.4rem;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0.5rem;
    margin-top: 1.8rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 0.5rem;
    margin-top: 2rem;
  }
} */
/* @media screen and (max-width: 768px) {
  .product-cart {
    margin-left: 1rem;
  }

  .product-cart:nth-child(3n) {
    margin-right: 0;
  }
} */
/* .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
} */

/* @media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
} */
