.productName {
  font-weight: bold;
  color: #333;
}

.plusIcon,
.minusIcon {
  font-size: 1.2rem;
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
}

.plusIcon:hover,
.minusIcon:hover {
  background-color: #555;
}

.priceTitle {
  font-weight: bold;
  color: #008080;
}

/* .cardList {
  padding: 1rem;
}

.cardContent {
  align-items: flex-start;
  justify-content: space-between;
}

.product {
  align-items: flex-start;
}

.productImage {
  width: 8rem;
  max-width: 20em;
  margin-right: 14rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5em;
}

.productName {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.productPrice {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

.totalPrice {
  font-size: 1.2rem;
  font-weight: bold;
} */
