* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: flex-start;
  margin: 1em;
  cursor: pointer;
}

.searchIcon {
  outline: 0;
  border: 0;
  margin: 1em;
  color: blue;
  cursor: pointer;
}

.search {
  display: flex;
  /* margin-top: 2em; */
  margin-left: 22em;
  display: flex;
  border: 1px solid #bdb1b1;
  height: 3em;
  outline: 0;
}

.search input {
  width: 30em;
  padding: 1em;
  border: 0;
  outline: 0;
  height: 100%;
}

input:focus {
  border: 0;
  outline: 0;
}

.account {
  align-items: flex-end;
  right: 0;
}
@media screen and (max-width: 550px) {
  .logo img {
    height: 1.5rem;
  }

  .search {
    display: none;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

  .search__input {
    flex: 1;
  }

  .header__content {
    flex-wrap: wrap;
  }

  .header__content > * {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 551px) and (max-width: 992px) {
  .logo img {
    margin: 0.5em;
    height: 1.75rem;
  }

  .search {
    /* display: none; */
    margin-left: 1em;
    /* width: 10em; */
    /* margin-top: 0.5rem; */
  }

  .search__input {
    flex: 1;
  }
}

@media screen and (min-width: 993px) {
  .logo img {
    height: 3rem;
  }

  .search {
    margin-left: 4em;
    /* margin-right: 1rem; */
  }
}
