.footer-container {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  margin: 0;
  font-size: 14px;
}

.footer-social-icons {
  display: flex;
  font-size: 0.8em;
  margin-right: 4.5em;
}

.icon {
  font-size: 2em;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-social-icons {
    flex-wrap: wrap;
  }

  .icon {
    margin: 0.5em;
  }
}
